/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body #about {
  margin-top: 50px;
}

html body #about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #about .container .about-box {
  background: #F4F5F6;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

html body #about .container .about-box h1 {
  font-size: 1.25rem;
  padding: 10px;
  color: #354751;
}

html body #about .container .about-box p {
  padding: 0px 10px 10px;
  color: #425A68;
  line-height: 1.2;
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #about .container .about-box {
    margin: auto;
    width: 80%;
  }
}

html body #filleting-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10%;
}

html body #filleting-services .container {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 0px;
  background: #F4F5F6;
}

html body #filleting-services .container .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F4F5F6;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

html body #filleting-services .container .text-box h1 {
  font-size: 1.25rem;
  padding: 10px;
  color: #354751;
  margin-bottom: 10px;
}

html body #filleting-services .container .text-box p {
  text-align: justify;
  text-justify: inter-word;
  padding: 0px 10px 10px;
  color: #425A68;
  line-height: 1.2;
}

html body #filleting-services .container .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: #F4F5F6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

html body #filleting-services .container .img-box img {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #filleting-services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  html body #filleting-services .container .text-box {
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 600px;
    background: #F4F5F6;
  }
  html body #filleting-services .container .text-box p {
    background: #F4F5F6;
    background-clip: border-box;
  }
  html body #filleting-services .container .img-box {
    border-radius: 5px;
  }
}

html body #species-offered .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #species-offered .container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  background: black;
  color: #354751;
  padding: 30px 0 30px;
  font-size: 1.25rem;
}

html body #species-offered .container .card-container {
  margin-top: 175px;
  width: 100%;
  background: red;
  padding: 50px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

html body #species-offered .container .card-container .maincontainer {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html body #species-offered .container .card-container .maincontainer .thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

html body #species-offered .container .card-container .maincontainer .thecard .thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

html body #species-offered .container .card-container .maincontainer .thecard .thefront h1 {
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard .thefront p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard .theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

html body #species-offered .container .card-container .maincontainer .thecard .theback p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard .theback h1 {
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #species-offered {
    margin-top: 4.5rem;
  }
  html body #species-offered .container .title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 50%;
    background: black;
    color: #354751;
    padding: 15px;
    font-size: 1.25rem;
  }
}

html body #calendar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #calendar .title-box {
  border-radius: 3px;
  padding: 10px;
  width: 80%;
  margin: auto;
  background: #F4F5F6;
  text-align: center;
}

html body #calendar .title-box h1 {
  color: #425A68;
  font-size: 1.25rem;
}

html body #calendar .calendar-container {
  text-align: center;
  position: relative;
  height: 0;
  width: 80%;
  padding-bottom: 85%;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
}

html body #calendar .calendar-container iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

html body #contact {
  margin-top: 50px;
  margin-bottom: 30px;
}

html body #contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

html body #contact .container .contact-box {
  background: #F4F5F6;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

html body #contact .container .contact-box h1 {
  font-size: 1.25rem;
  padding: 10px;
  color: #354751;
  margin-bottom: 10px;
}

html body #contact .container .contact-box .email-box {
  padding: 0 10px 10px;
}

html body #contact .container .contact-box .email-box a {
  font-size: 1rem;
  padding: 15px 0 15px 0;
  color: #354751;
  margin-bottom: 10px;
}

html body #contact .container .contact-box .phone-booth {
  padding: 0 10px 10px;
}

html body #contact .container .contact-box .phone-booth a {
  font-size: 1rem;
  padding: 15px 0 15px 0;
  color: #354751;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #contact .container {
    width: 100%;
  }
  html body #contact .container .contact-box {
    width: 80%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 20px;
  }
  html body #contact .container .contact-box h1 {
    padding: 0 5px 5px;
  }
  html body #contact .container .contact-box .email-box {
    margin-bottom: 5px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0 5px 5px;
  }
  html body #contact .container .contact-box .email-box a {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 10px 0 10px 0;
  }
  html body #contact .container .contact-box .phone-booth {
    padding: 0 5px 5px;
  }
  html body #contact .container .contact-box .phone-booth a {
    padding: 10px 0 10px 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #feffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#5bc0f7));
  background: linear-gradient(to bottom, #feffff 0%, #5bc0f7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1150px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #feffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#ebf2b8));
  background: linear-gradient(to bottom, #feffff 0%, #ebf2b8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: solid 4px maroon;
}

header .logo {
  font-size: 1 rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo .logo-img {
  background-image: url("../img/fishskeleton-add-white-filter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  width: 10vw;
  background-color: red;
}

header .logo .name {
  padding: 15px 20px;
  text-decoration: none;
  color: #354751;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

header .header-menu {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu a {
  font-size: 1rem;
  text-decoration: none;
  color: #425A68;
  padding: 0 10px 0;
  font-weight: 700;
  border-radius: 1px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header .header-menu a:hover {
  font-weight: 700;
  color: #db4545;
}

header .menu-btn {
  color: maroon;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: 2rem;
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .menu-btn .far {
  display: none;
}

header .menu-btn:hover {
  color: rgba(234, 125, 52, 0.496);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-menu {
  display: none;
  background: #feffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#ebf2b8));
  background: linear-gradient(to bottom, #feffff 0%, #ebf2b8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 10;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-menu a {
  padding: 15px;
  text-decoration: none;
  color: #425A68;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-bottom: solid 1px black;
}

.mobile-menu a:hover {
  text-decoration: none;
  border-bottom: solid 1px maroon;
}

.mobile-menu.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 2px 0px 75px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 75px -15px rgba(0, 0, 0, 0.5);
}

.mobile-menu.active a:hover {
  color: rgba(234, 125, 52, 0.496);
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 10px;
  font-size: 2rem;
}

.title h1 {
  color: #354751;
  background: black;
  padding: 20px;
}

.title a {
  margin-top: 35px;
  padding: 10px;
  background: black;
  color: #d8cdcd;
  font-size: 1.25rem;
}

.title a:hover {
  color: yellow;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title .img {
  margin-top: 45px;
  position: relative;
  z-index: 1;
  width: 80%;
  padding: 5px;
  border-radius: 5px;
}

.title .img img {
  border-radius: 5px;
  margin-top: 3px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .logo {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
  header .header-menu {
    display: none;
  }
  header .menu-btn {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    font-size: 1.8rem;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    margin: auto;
    width: 80%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    font-size: 1rem;
    text-align: center;
  }
  .title .img {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  header .logo {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
  header .header-menu {
    display: none;
  }
  header .menu-btn {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 700;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 700;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 1216px) and (max-width: 1407px) {
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 700;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
}

@media only screen and (min-width: 1408px) {
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 700;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */