/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body #about {
  margin-top: 50px;
}

html body #about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body #about .container .about-box {
  background: #F4F5F6;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  max-width: 1150px;
}

html body #about .container .about-box h1 {
  font-size: 1.25rem;
  color: #354751;
  font-size: 1.25rem;
  margin: 30px;
}

html body #about .container .about-box p {
  padding: 0px 10px 10px;
  color: #425A68;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  margin: 0px 30px 30px 30px;
}

html body #about .container .about-box p strong {
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  html body #about {
    margin-top: 21px;
  }
  html body #about .container .about-box {
    margin: auto;
    width: 80%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  html body #about {
    margin-top: 90px;
  }
  html body #about .container .about-box {
    margin: auto;
    width: 80%;
  }
}

html body #filleting-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 10%;
}

html body #filleting-services .container {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 0px;
  background: #F4F5F6;
  max-width: 1150px;
}

html body #filleting-services .container .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F4F5F6;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

html body #filleting-services .container .text-box h1 {
  font-size: 1.25rem;
  padding: 10px;
  color: #354751;
  margin: 30px 30px 0px 30px;
}

html body #filleting-services .container .text-box p {
  text-align: justify;
  text-justify: inter-word;
  padding: 0px 10px 10px;
  color: #425A68;
  line-height: 1.5;
  margin: 30px;
}

html body #filleting-services .container .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: #F4F5F6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

html body #filleting-services .container .img-box img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #filleting-services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  html body #filleting-services .container .text-box {
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    background: #F4F5F6;
  }
  html body #filleting-services .container .text-box p {
    background: #F4F5F6;
    background-clip: border-box;
  }
  html body #filleting-services .container .img-box {
    border-radius: 5px;
  }
  html body #filleting-services .container .img-box img {
    max-height: 386.66px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  html body #filleting-services .container .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 45px 0px 0px;
  }
  html body #filleting-services .container .img-box img {
    max-height: 386.66px;
  }
}

html body #species-offered .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body #species-offered .container .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 80%;
  background: black;
  color: #354751;
  padding: 30px 0 30px;
  font-size: 1.25rem;
}

html body #species-offered .container .card-container {
  margin-top: 175px;
  width: 100%;
  background: red;
  padding: 50px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

html body #species-offered .container .card-container .maincontainer {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html body #species-offered .container .card-container .maincontainer .thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

html body #species-offered .container .card-container .maincontainer .thecard .thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

html body #species-offered .container .card-container .maincontainer .thecard .thefront h1 {
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard .thefront p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard .theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

html body #species-offered .container .card-container .maincontainer .thecard .theback p {
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard .theback h1 {
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

html body #species-offered .container .card-container .maincontainer .thecard:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #species-offered {
    margin-top: 4.5rem;
  }
  html body #species-offered .container .title-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 50%;
    background: black;
    color: #354751;
    padding: 15px;
    font-size: 1.25rem;
  }
}

html body #calendar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body #calendar .title-box {
  border-radius: 3px;
  padding: 10px;
  width: 80%;
  margin: auto;
  background: #F4F5F6;
  text-align: center;
  max-width: 1150px;
}

html body #calendar .title-box h1 {
  color: #425A68;
  font-size: 1.50rem;
  padding: 10px;
}

html body #calendar .calendar-container {
  text-align: center;
  position: relative;
  z-index: 0;
  height: 0;
  width: 80%;
  padding-bottom: 85%;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  max-width: 1150px;
}

html body #calendar .calendar-container iframe {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: -1 !important;
}

html body #contact {
  margin-top: 50px;
  margin-bottom: 30px;
  /* LARGE SCREENS */
}

html body #contact * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body #contact body {
  background: #92bde7;
  color: #485e74;
  line-height: 1.6;
  padding: 1em;
}

html body #contact .form-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

html body #contact .form-container .brand {
  text-align: center;
}

html body #contact .form-container .brand span {
  color: #fff;
}

html body #contact .wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
          box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

html body #contact .wrapper .company-info {
  background-color: #F4F5F6;
}

html body #contact .wrapper .company-info h3,
html body #contact .wrapper .company-info ul {
  text-align: center;
  margin: 0;
}

html body #contact .wrapper .contact {
  background: #f9feff;
}

html body #contact .wrapper .contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

html body #contact .wrapper .contact form label {
  display: block;
}

html body #contact .wrapper .contact form p {
  margin: 0;
}

html body #contact .wrapper .contact form .full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

html body #contact .wrapper .contact form button,
html body #contact .wrapper .contact form input,
html body #contact .wrapper .contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

html body #contact .wrapper .contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

html body #contact .wrapper .contact form button:hover,
html body #contact .wrapper .contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

html body #contact .wrapper > * {
  padding: 1em;
}

@media (min-width: 700px) {
  html body #contact .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  html body #contact .wrapper > * {
    padding: 2em;
  }
  html body #contact .company-info h3,
  html body #contact .company-info ul,
  html body #contact .brand {
    text-align: left;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  html body #contact .container {
    width: 100%;
  }
  html body #contact .container .contact-box {
    width: 80%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 20px;
  }
  html body #contact .container .contact-box h2 {
    padding: 0 5px 5px;
  }
  html body #contact .container .contact-box .email-box {
    margin-bottom: 5px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0 5px 5px;
  }
  html body #contact .container .contact-box .email-box a {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 10px 0 10px 0;
  }
  html body #contact .container .contact-box .phone-booth {
    padding: 0 5px 5px;
  }
  html body #contact .container .contact-box .phone-booth a {
    padding: 10px 0 10px 0;
  }
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
      touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #feffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#5bc0f7));
  background: linear-gradient(to bottom, #feffff 0%, #5bc0f7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5bb5e7;
  border-bottom: solid 2px #296a8d;
  position: relative;
  z-index: 4;
}

header .logo {
  font-size: 1 rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo .logo-img {
  background-image: url("../img/fishskeleton-add-white-filter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  width: 10vw;
  background-color: red;
}

header .logo .name {
  padding: 15px 20px;
  text-decoration: none;
  color: #f4f5f6;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

header .header-menu {
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu a {
  font-size: 1rem;
  text-decoration: none;
  color: #f4f5f6;
  padding: 0 10px 0;
  font-weight: 500;
  border-radius: 1px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header .header-menu a:hover {
  font-weight: 500;
  color: #f5f235;
}

header .menu-btn {
  color: #f4f5f6;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: 2rem;
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .menu-btn .far {
  display: none;
}

header .menu-btn:hover {
  color: #f5f235;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-menu {
  display: none;
  background: #2578c3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 10;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mobile-menu a {
  padding: 15px;
  text-decoration: none;
  color: #f4f5f6;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border-bottom: solid 1px black;
}

.mobile-menu a:hover {
  text-decoration: none;
  border-bottom: solid 1px maroon;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.mobile-menu.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 2px 0px 75px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 75px -15px rgba(0, 0, 0, 0.5);
}

.mobile-menu.active a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-menu.active a:hover {
  color: #f5f235;
  background: maroon;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 10px;
  font-size: 2rem;
}

.title h1 {
  color: #354751;
  background: black;
  padding: 20px;
  border-radius: 5px;
}

.title a {
  margin-top: 35px;
  color: white;
  font-size: 3.25rem;
  font-weight: 800;
  text-shadow: 3px 3px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title a:hover {
  color: yellow;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.title .img {
  position: absolute;
  max-width: 1150px;
  z-index: -1;
  top: 0;
  background-image: url(./img/firstFrameOfVideo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title .img img {
  border-radius: 5px;
  margin-top: 3px;
  width: 100%;
  height: 100%;
}

.title .img .slide-video {
  width: 100%;
  margin: 0px auto;
}

.title .img:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 1150px;
  background: rgba(0, 0, 0, 0.35);
  mix-blend-mode: multiply;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  header .logo {
    padding: 10px 10px;
    font-size: 1.3rem;
  }
  header .header-menu {
    display: none;
  }
  header .menu-btn {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    font-size: 1.8rem;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    margin: auto;
    width: 80%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    font-size: 1.25rem;
    text-align: center;
  }
  .title .img {
    width: 100%;
    position: absolute;
    max-width: 1150px;
    z-index: -1;
    top: 8.5%;
    background-image: url(./img/firstFrameOfVideo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title .img .slide-video {
    min-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 786px) {
  header .logo {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
  header .header-menu {
    display: none;
  }
  header .menu-btn {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    font-size: 1.8rem;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    margin: 148px 0px 140px 0px;
    font-size: 3rem;
    text-align: center;
  }
  .title .img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 7%;
  }
  .title .img .slide-video {
    min-width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #f4f5f6;
    padding: 0 10px 0;
    font-weight: 500;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .header-menu .img {
    width: 100%;
    position: absolute;
    max-width: 1150px;
    z-index: -1;
    top: 8%;
    background-image: url(./img/firstFrameOfVideo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .menu-btn {
    display: none;
  }
  header .mobile-menu {
    display: none;
  }
  .title {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    margin: 148px 0px 140px 0px;
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 500;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
  header .mobile-menu {
    display: none;
  }
  .title {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    margin: 148px 0px 140px 0px;
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1216px) and (max-width: 1407px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 500;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
  header .mobile-menu {
    display: none;
  }
  .title {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    margin: 148px 0px 140px 0px;
    font-size: 3rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1408px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  header .header-menu {
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #425A68;
    padding: 0 10px 0;
    font-weight: 500;
    border-radius: 1px;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  header .menu-btn {
    display: none;
  }
  header .mobile-menu {
    display: none;
  }
  .title {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .title h1 {
    font-size: 1.55rem;
    text-align: center;
  }
  .title a {
    margin: 220px 0px 210px 0px;
    font-size: 3rem;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */