@import "reset";

$backgroundcolor: #ffffff;
$menu: #ffffff;
$menubutton: #ffffff;
$headercolor: rgb(53, 71, 81);
$subtextcolor: #425A68;
$boxcolor: #F4F5F6;
$textHoverColor: #425A68;
$menuTextHoverColor: rgb(219, 69, 69);
$mobileMenuTextHoverColor: rgba(234, 125, 52, 0.496);

@import "about";
@import "filleting-services";
@import "species-offered";
@import "calendar";
@import "contact-us";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');


*{
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(91,192,247,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(91,192,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(91,192,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  align-content: center;
  // max-width: 1150px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(235,242,184,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(235,242,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(235,242,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: solid 4px maroon;
  .logo{
    font-size: 1 rem;
    // font-weight: 700;
    text-transform: capitalize;
    display: flex;
    .logo-img{
      background-image: url("../img/fishskeleton-add-white-filter.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: auto;
      width: 10vw;
      background-color: red;
    }
    .name{
      padding: 15px 20px;
      text-decoration: none;
      color: $headercolor;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
    }
  }
  .header-menu{
    font-size: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      font-size: 1rem;
      text-decoration: none;
      color: $subtextcolor;
      padding: 0 10px 0;
      font-weight: 500;
      border-radius: 1px;
      transition: color 0.3s ease-in-out;
    }
    a:hover{
      font-weight: 500;
      color: $menuTextHoverColor;
    }
  }
  .menu-btn{
    color: maroon;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 2rem;
    display: none;
    // background: $backgroundcolor;
    // background: radial-gradient(circle, rgba(52,71,48,1) 10%, rgba(17, 27, 19,0) 46%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .fas{

    }
    .far{
      display: none;
    }
    &:hover{
      color: $mobileMenuTextHoverColor;
      transition: all 0.3s ease-in-out;
    }
  }
}
.mobile-menu{
  display: none;
  background: rgb(254,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(235,242,184,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(235,242,184,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(235,242,184,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 10;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.4s ease-in-out;
  a{
    padding: 15px;
    text-decoration: none;
    color: $subtextcolor;
    transition: all 0.1s ease-in-out;
    border-bottom: solid 1px black;
  }
  a:hover{
    text-decoration: none;
    border-bottom: solid 1px
    maroon;
    transition: all 0.1s ease-in-out;
  }
}
.mobile-menu.active{
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 2px 0px 75px -15px rgba(0,0,0,0.50);
  -moz-box-shadow: 2px 0px 75px -15px rgba(0,0,0,0.50);
  box-shadow: 2px 0px 75px -15px rgba(0,0,0,0.50);
  a{
    transition: all 0.3s ease-in-out;
  }
  a:hover{
    color: $mobileMenuTextHoverColor;
    background: maroon;
    transition: all 0.3s ease-in-out;
  }
}

.title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 10px;
  font-size: 2rem;
  h1{
    color: $headercolor;
    background: black;
    padding: 20px;
    border-radius: 5px;
  }
  a{
    margin-top: 35px;
    color: white;
    font-size: 3.25rem;
    font-weight: 800;
    text-shadow: 3px 3px black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  a:hover{
    color: yellow;
    transition: all 0.3s ease-in-out;
  }
  .img{
    position: absolute;
    max-width: 1150px;
    z-index: -1;
    top: 0;
    background-image: url(./img/firstFrameOfVideo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    img{
      border-radius: 5px;
      margin-top: 3px;
      width: 100%;
      height: 100%;
    }
    .slide-video{
      width: 100%;
      margin: 0px auto;
    }
  }
  .img:after{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 1150px;
    background: rgba(0,0,0,0.35);
    mix-blend-mode: multiply;
  }
}

//Breakpoints Researched from Bulma.io (https://bulma.io/documentation/overview/responsiveness/)

// Responsiveness Controls

// Mobile Devices iPhone5/SE iPhone6/7/8/8 Plus
@media only screen and (min-width: 320px) and (max-width:767px){
  header{
    
    .logo{
      padding: 10px 10px;
      font-size: 1.3rem;
    }
    .header-menu{
      display: none;
      a{
        
      }
      a:hover{
        
      }
    }
    .menu-btn{
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      font-size: 1.8rem;
    }
  }
  .mobile-menu{
    display: flex;
    a{
      
    }
    a:hover{
      
    }
  }
  .mobile-menu.active{

  }

  

  .title{
    margin: auto;
    width: 80%;
    text-align: center;
    h1{
      font-size: 1.55rem;
      text-align: center;
    }
    a{
      font-size: 1.25rem;
      text-align: center;
    }
    a:hover{
      
    }
    .img{
      width: 100%;
      position: absolute;
      max-width: 1150px;
      z-index: -1;
      top: 8.5%;
      background-image: url(./img/firstFrameOfVideo.jpg); background-repeat: no-repeat;
      background-size: cover;
      img{
        
      }
      .slide-video{
        min-width:100%;
        // min-height: 100%;
      }
    }
  }
}

// Mobile Devices - (Also iPad Size)
@media only screen and (min-width: 768px) and (max-width: 786px){
  header{
    
    .logo{
      padding: 10px 15px;
      font-size: 1.3rem;
    }
    .header-menu{
      display: none;
      a{
        
      }
      a:hover{
        
      }
    }
    .menu-btn{
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      font-size: 1.8rem;
    }
  }
  .mobile-menu{
    display: flex;
    a{
      
    }
    a:hover{
      
    }
  }
  .mobile-menu.active{

  }

  

  .title{
    margin: auto;
    width: 100%;
    text-align: center;
    h1{
      font-size: 1.55rem;
      text-align: center;
    }
    a{
      margin: 148px 0px 140px 0px;
      font-size: 3rem;
      text-align: center;
    }
    a:hover{
      
    }
    .img{
      width: 100%;
      display: flex;
      justify-content: center;
      top: 7%;
      img{
        
      }
      .slide-video{
        min-width:100%;
        // min-height: 100%;
      }
    }
  }
}
// Tablets Between 769px and 1023px
@media only screen and (min-width: 769px) and (max-width: 1023px){
  header{
    position: sticky;
    top: 0;
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: $subtextcolor;
        padding: 0 10px 0;
        font-weight: 500;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
      .img{
        width: 100%;
        position: absolute;
        max-width: 1150px;
        z-index: -1;
        top: 8%;
        background-image: url(./img/firstFrameOfVideo.jpg); background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .menu-btn{
      display: none;
    }
    .mobile-menu{
      display: none;
    }
  }
  .title{
    margin: auto;
    width: 100%;
    text-align: center;
    h1{
      font-size: 1.55rem;
      text-align: center;
    }
    a{
      margin: 148px 0px 140px 0px;
      font-size: 3rem;
      text-align: center;
    }
  }
}

// Desktop Between 1024px and 1215px
@media only screen and (min-width: 1024px) and (max-width: 1215px){
  header{
    position: sticky;
    top: 0;
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: $subtextcolor;
        padding: 0 10px 0;
        font-weight: 500;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
    .mobile-menu{
      display: none;
    }
  }
  .title{
    margin: auto;
    width: 100%;
    text-align: center;
    h1{
      font-size: 1.55rem;
      text-align: center;
    }
    a{
      margin: 148px 0px 140px 0px;
      font-size: 3rem;
      text-align: center;
    }
  }
}

// Widescreen between 1216px and 1407px
@media only screen and (min-width: 1216px) and (max-width: 1407px){
  header{
    position: sticky;
    top: 0;
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: $subtextcolor;
        padding: 0 10px 0;
        font-weight: 500;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
    .mobile-menu{
      display: none;
    }
  }
  .title{
    margin: auto;
    width: 100%;
    text-align: center;
    h1{
      font-size: 1.55rem;
      text-align: center;
    }
    a{
      margin: 148px 0px 140px 0px;
      font-size: 3rem;
      text-align: center;
    }
  }
}
// FullHD 1408px and above
@media only screen and (min-width: 1408px){
  header{
    position: sticky;
    top: 0;
    .logo{
      
    }
    .header-menu{
      font-size: 1rem;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
  
      a{
        font-size: 1rem;
        text-decoration: none;
        color: $subtextcolor;
        padding: 0 10px 0;
        font-weight: 500;
        border-radius: 1px;
        transition: color 0.3s ease-in-out;
        transition: background 0.1s ease-in-out;
      }
      a:hover{
        
      }
    }
    .menu-btn{
      display: none;
    }
    .mobile-menu{
      display: none;
    }
  }
  .title{
    margin: auto;
    width: 100%;
    text-align: center;
    h1{
      font-size: 1.55rem;
      text-align: center;
    }
    a{
      margin: 220px 0px 210px 0px;
      font-size: 3rem;
      text-align: center;
    }
  }
}

