

html{
    body{
        #about{
            margin-top: 50px;
            .container{
                display: flex;
                justify-content: center;
                .about-box{
                    background: $boxcolor;
                    width: 80%;
                    padding: 10px;
                    border-radius: 5px;
                    h1{
                        font-size: 1.25rem;
                        padding: 10px;
                        color: $headercolor;
                    }
                    p{
                        padding: 0px 10px 10px;
                        color: $subtextcolor;
                        line-height: 1.2;
                        text-align: justify;
                        text-justify: inter-word; 
                    }
                }
            }
        } 
    }
}

//Breakpoints Researched from Bulma.io (https://bulma.io/documentation/overview/responsiveness/)

// Responsiveness Controls

// Mobile Devices iPhone5/SE iPhone6/7/8/8 Plus
@media only screen and (min-width: 320px) and (max-width:767px){
    html{
        body{
            #about{
                
                .container{
                    
                    .about-box{
                        margin: auto;
                        width: 80%;
                        h1{
                            
                        }
                        p{
                             
                        }
                    }
                }
            } 
        }
    }
}

// Mobile Devices - (Also iPad Size)
@media only screen and (min-width: 768px){
    html{
        body{
            #about{
                
                .container{
                    
                    .about-box{
                        
                        h1{
                            
                        }
                        p{
                             
                        }
                    }
                }
            } 
        }
    }
}
// Tablets Between 769px and 1023px
@media only screen and (min-width: 769px) and (max-width: 1023px){
    html{
        body{
            #about{
                
                .container{
                    
                    .about-box{
                        
                        h1{
                            
                        }
                        p{
                             
                        }
                    }
                }
            } 
        }
    }
}

// Desktop Between 1024px and 1215px
@media only screen and (min-width: 1024px) and (max-width: 1215px){
    html{
        body{
            #about{
                
                .container{

                    .about-box{
                        
                        h1{
                            
                        }
                        p{
                             
                        }
                    }
                }
            } 
        }
    }
}

// Widescreen between 1216px and 1407px
@media only screen and (min-width: 1216px) and (max-width: 1407px){
    html{
        body{
            #about{
                
                .container{
                    
                    .about-box{
                        
                        h1{
                            
                        }
                        p{
                             
                        }
                    }
                }
            } 
        }
    }
}
// FullHD 1408px and above
@media only screen and (min-width: 1408px){
    html{
        body{
            #about{
                
                .container{
                    
                    .about-box{
                        
                        h1{
                            
                        }
                        p{
                             
                        }
                    }
                }
            } 
        }
    }
}