
$backgroundcolor: rgb(17, 27, 19);
$menu: rgb(17, 27, 19);
$menubutton: #2cd816;
$headercolor: #2cd816;
$subtextcolor: #21be0c;
$boxcolor: black;

html{
    body{
        #about{
            margin-top: 50px;
            .container{
                display: flex;
                justify-content: center;
                .about-box{
                    background: $boxcolor;
                    width: 60%;
                    padding: 10px;
                    border-radius: 5px;
                    h1{
                        font-size: 1.25rem;
                        padding: 10px;
                        color: $headercolor;
                    }
                    p{
                        font-size: 0.85rem;
                        padding: 0px 10px 10px;
                        color: $subtextcolor;
                        line-height: 1.2;
                        text-align: justify;
                        text-justify: inter-word; 
                    }
                }
            }
        } 
    }
}  